<% layout("/layouts/boilerPlate") %>
<body>
    <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-1" style="margin-left: 4.5%">
        <%listing_data.map(ele =>{%>

            <div class="card col p-0 m-3 shadow border-0">
                <a style="text-decoration: none; color: black;" href="/api/specific_item/<%=ele._id%>">
                <img src="<%= ele.image%>" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                  <h5 class="card-title"><%= ele.title %></h5>
                  <div class="card-text"><%= ele.location%>,<%= ele.country%></div>
                  <div class="card-text">$<%= ele.price.toLocaleString('en-US')%></div>
                </div>
            </a>
              </div>
        <%})%>
    </div>
</body>





