<% layout("/layouts/boilerPlate") %>
<body>
  
    <div class="container-fluid d-flex flex-column align-items-center w-75">  
      <h5 class="card-title mb-2 fs-1 text-start mt-4 w-80"><%= listData.title %></h5>
        <div class="card d-flex w-80 h-50">
          <img src="<%= listData.image %>" style="width: 55rem; height: 32rem; object-fit: cover;" class="img-fluid rounded" alt="Listing Image">
          <div class="card-body">
          
            <p class="card-text fs-4"><%= listData.description %></p>
            <div>Price: &#36; <%= listData.price %></div>
            <div>Location: <%= listData.location %>, <%= listData.country %></div>
            <div class="flex" >
              <a href="/api/edit/<%=listData._id%>" class="btn btn-primary">Edit</a>
              <form method="POST" action="/api/delete/<%=listData._id%>?_method=DELETE">
                <button class="btn btn-primary">Delete</button>
              </form>
            </div>
        </div>
      </div>
    </div>

    <form method="POST" action="/api/review/<%= listData._id %> "  class="d-flex flex-column justify-content-center align-items-center">
      <div>
        <label class="form-label">Rating:</label>
        <div class="star-rating">
            <!-- Reverse the order of stars here -->
            <input type="radio" name="review[rating]" id="star1" value="5">
            <label for="star1">&#9733;</label>
            <input type="radio" name="review[rating]" id="star2" value="4">
            <label for="star2">&#9733;</label>
            <input type="radio" name="review[rating]" id="star3" value="3">
            <label for="star3">&#9733;</label>
            <input type="radio" name="review[rating]" id="star4" value="2">
            <label for="star4">&#9733;</label>
            <input type="radio" name="review[rating]" id="star5" value="1">
            <label for="star5">&#9733;</label>
        </div>
        <Label for="des">Review:</Label>
        <textarea class="form-control" id="des" name="review[description]" cols="40" rows="5" type="text" placeholder="Write your feedback...."></textarea>
    </div>
    <button class="btn btn-primary m-1">Submit</button>
    </form>
   
    <hr>

    <div class="row d-flex justify-content-between w-1000" style="margin: 10px 18%;">
      <h5 class="card-title mb-2 fs-1">Reviews:</h5>
      <% listData.reviews.map(ele=>{ %>
        <div class="d-flex flex-row flex-wrap">
        <!-- <div class="col-sm-6 mb-3"> -->
        <div class="card w-75 mb-3 border-0">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <!-- Profile Image -->
              <img style="width: 50px; height: 50px;" src="https://images.unsplash.com/photo-1502784444187-359ac186c5bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNreSUyMHZhY2F0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60" class="rounded-circle me-3" alt="Profile Picture">
              
              <!-- User Info -->
              <div>
                <h5 class="card-title mb-0">Meaghan</h5>
                <p class="text-muted mb-1">Buffalo, New York</p>
              </div>
            </div>
            <% if (ele.rating === "1") { %>
              <small class="text-muted">★ • 1 week ago • Group trip</small>
          <% } else if (ele.rating === "2") { %>
              <small class="text-muted">★★ • 1 week ago • Group trip</small>
          <% } else if (ele.rating === "3") { %>
              <small class="text-muted">★★★ • 1 week ago • Group trip</small>
          <% } else if (ele.rating === "4") { %>
              <small class="text-muted">★★★★ • 1 week ago • Group trip</small>
          <% } else if (ele.rating === "5") { %>
              <small class="text-muted">★★★★★ • 1 week ago • Group trip</small>
          <% } else { %>
              <small class="text-muted">★★★★★ • 1 week ago • Group trip</small>
          <% } %>
            <p class="card-text">
              <%= ele.description %>
            </p>
          </div>
        </div>
        <form style="margin-top: -10px;" method="POST" action="/api/<%= listData._id%>/review/<%=ele._id%>/delete?_method=DELETE">
          <button class="btn btn-danger m-1">Delete</button>
        </form></div>
        <% }) %>
    </div>

 <!-- Need to save the save in MongoDB -->

</body>
