<% layout("../layouts/boilerPlate") %>
<body class="flex-column min-vh-100">
    <main class="flex-grow-1 mt-4 d-flex flex-column justify-content-center align-items-center mt-0">
    <form  class="w-50 mt-2" method="post" action="/api/update/<%=data._id%>?_method=PATCH" enctype="multipart/form-data">
        <h1>Edit</h1>
        <div>
            <Label for="title">Title:</Label>
            <input class="form-control" id="title" name="update[title]"type="text" value="<%= data.title %>"></input>
        </div>
        <div>
            <Label for="des">Description:</Label>
            <textarea class="form-control" id="des" name="update[description]" cols="40" rows="5" type="text"><%= data.description %>there</textarea>
        </div>
        <div>
            <Label for="price">Price:&#36;</Label>
            <input class="form-control" id="price" name="update[price]" type="number" value="<%= data.price %>"/>
        </div>
        <div>
            <label for="location">Location:</label>
            <input class="form-control" id="location" name="update[location]" type="text" value="<%= data.location %>" />
        </div>
        <div>
            <label for="country">Country:</label>
            <input class="form-control" id="country" name="update[country]" type="text" value="<%= data.country %>" />
        </div>
        <label for="inputGroupFile02">Image </label>
            <div class="input-group mb-3">
                <input type="file" name="update[image]" class="form-control" id="inputGroupFile02">
            </div>
        <br><br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </main>
</body>
